<app-navbar title="Admin Dashboard" />
<app-root-layout>
  <div class="mt-10 flex justify-between">
    <p class="text-3xl">Projects/Tasks Overview</p>
    @if(!loading){
    <div class="space-x-2">
      <button
        class="w-[100px] p-1 bg-[#157ae6] border-none rounded text-white cursor-pointer"
        (click)="handleAddProject()"
      >
        Add Task
      </button>
      <button
        class="px-2 py-1 bg-[#157ae6] border-none rounded text-white cursor-pointer"
        (click)="navigateToManageUsers()"
      >
        Manage Users
      </button>
    </div>
    }
  </div>
  <div class="pt-8">
    @if(loading){
    <div class="flex justify-center items-center h-[300px]">
      <div class="loader">Loading...</div>
    </div>
    } @else { @for(task of tasks; track task.id){
    <div
      class="border border-gray-300 rounded-md p-5 mt-5 flex justify-between items-center cursor-pointer"
      (click)="handleTaskClick(task.id)"
    >
      <div>
        <p class="text-xl">{{ task.title }}</p>
        <p class="text-sm">
          Project Name :
          <span class="font-bold text-gray-500"> {{ task.projectName }}</span>
        </p>
        <p class="text-sm">
          Assigned To:
          <span class="font-bold text-gray-500">
            {{ getUserName(task.assignedTo) }}</span
          >
        </p>
      </div>
      <div>
        {{ getTaskStatus(task.status) }}
      </div>
    </div>
    } } @if(!loading && tasks.length === 0){
    <div class="flex justify-center items-center h-[300px]">
      <p>No tasks found.</p>
    </div>
    }
  </div>
</app-root-layout>
