<div class="p-10">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-group--label" for="title">Project Title</label>
      <input
        class="form-group--input"
        type="text"
        id="title"
        formControlName="title"
      />
      @if(isFieldInvalid('title')){
      <div class="error">
        @if(this.formGroup.controls['title'].errors?.['required']){
        <span>Project Title is required.</span>
        }
      </div>
      }
    </div>

    <div>
      <div class="flex justify-between items-center">
        <label class="form-group--label text-xl" for="title">Tasks</label>
        <button class="bg-slate-400 rounded p-2" (click)="openAddTaskDialog()">
          Add Task
        </button>
      </div>
      @if(tasks.length === 0){
      <div class="w-full h-10">
        <span class="text-gray-300 flex justify-center items-center"
          >No tasks added yet.</span
        >
      </div>
      } @for(task of tasks; track task.id){ }
    </div>

    <button type="submit" class="btn">Add Project</button>
  </form>
</div>

@if(showAddTaskDialog){
<app-add-task-dialog (onClose)="onClose()" />
}
