<app-navbar title="Admin Dashboard" />
<app-root-layout>
  <div class="mt-10">
    <p class="text-3xl">Add Task</p>
  </div>

  <form class="p-10" [formGroup]="addTaskForm" (ngSubmit)="onAddTask()">
    <div class="form-group">
      <label class="form-group--label"
        >Task Name
        <span class="text-red-500">*</span>
      </label>
      <input class="form-group--input" formControlName="taskName" />
      @if(isTaskNameValid){
      <div class="error">
        @if(this.addTaskForm.controls.taskName.errors?.['required']){
        <span>Task name is required.</span>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label class="form-group--label"
        >Project Name
        <span class="text-red-500">*</span>
      </label>
      <input
        class="form-group--input"
        type="email"
        id="email"
        formControlName="projectName"
      />
      @if(isProjectNameValid){
      <div class="error">
        @if(this.addTaskForm.controls.projectName.errors?.['required']){
        <span>Task name is required.</span>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label class="form-group--label"
        >Assign to
        <span class="text-red-500">*</span>
      </label>
      <select class="form-group--input" formControlName="assignTo" required="">
        @for(member of members; track member.id ){
        <option [value]="member.id">{{ member.name }}</option>
        }
      </select>
      @if(isProjectNameValid){
      <div class="error">
        @if(this.addTaskForm.controls.assignTo.errors?.['required']){
        <span>Task name is required.</span>
        }
      </div>
      }
    </div>

    <button
      type="submit"
      class="btn"
      [class.disabled]="isLoading"
      [disabled]="isLoading"
    >
      @if(isLoading){ Adding... } @else { Add Task }
    </button>
  </form>
</app-root-layout>
